<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Starships</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let starship of starships">
      <!-- <ion-card-header>
        <ion-card-title>{{starship.name}}</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <ion-card-title>{{starship.name}}</ion-card-title>
        <p>Model: {{starship.model}}<br>Manufacturer: {{starship.manufacturer}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
