<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Films
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let film of films">
      <ion-card-header>
        <ion-card-title>{{film.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{film.director}}<br>{{film.release_date}}</p>
        <ion-list>
          <button ion-item *ngFor="let char of film.characters" (click)="presentModal(char)">
            {{char.name}}
          </button>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- <ion-item *ngFor="let film of films">
      {{film.title}}
    </ion-item> -->
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
